block subheader
    .nav-section
        .container
            ul.nav
                li.nav__item
                    a(class="nav__link" href=page=='«Интернет-магазин биотоплива нового поколения»'?"#pellety":"index.html#pellety") Пеллеты
                li.nav__item
                    a(class="nav__link" href=page=='«Интернет-магазин биотоплива нового поколения»'?"#brikety":"index.html#brikety") Брикеты
                li.nav__item
                    a(class="nav__link" href=page=='«Интернет-магазин биотоплива нового поколения»'?"#question-section":"index.html#question-section") Вопросы
                li.nav__item
                    a(class="nav__link" href=page=='«Интернет-магазин биотоплива нового поколения»'?"#feedback-section":"index.html#feedback-section") Отзывы
                li.nav__item
                    a(class="nav__link" href=page=='«Интернет-магазин биотоплива нового поколения»'?"#contact-section":"index.html#contact-section") Контакты